*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0px;
    background-color: white;
}
/*----Barra fija del encabezado---*/
div.encabezado{
   /* border: solid;*/
    position: fixed; 
    top: 0px;
    height: 11%;
    left: 0%;
    width: 100%;
    background-color: white;
}
img#logoempresa{
    position: fixed; 
    margin-top: 0px;
    height: 10%;
    left: 10%;
}
a#contacto{
    height: 3em;
    position: fixed; 
    left: 79%;
    top: 3.5%;
    text-decoration: none;
    color: black;
}
img#login{
    height: 3em;
    position: fixed; 
    left: 86.5%;
    top: 2%;

}
/*----Barra fija de navegacion por las paginas-----*/
div.navegador{
    position: fixed; 
    /*border: solid;*/
    background-color: #93D2F3;
    background-image: url("../resorces/images/fondo3_texto1.jpg");
    top: 11%;
    width: 100%;
    height: 7%;
    left: 0%;
    border-bottom: solid white;
    
}
a#producto, a#soluciones, a#soporte, a#nosotros{
    text-decoration: none;
    font-size: 1.3em;
    position: fixed;
    top: 13%;
    color: white;
}
a#producto{
    left: 10%;
}
a#soluciones{
    left: 20%;
    border-bottom: solid;
}
a#soporte{
    left: 30%;
}
a#nosotros{
    left: 40%;
}

/*Cuerpo de la pagina*/
/*----Contenido parte 1----*/
div.cuerpoPagina{
    /*border: solid;*/
    position: inherit;
    padding-top: 11%;
    line-height: 170%;
    font-size: 120%;
}
div#contenido_1{
    border: solid;
    float: left;
    background-image: url("../resorces/images/fondo_principal_4.jpg");
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: auto;

}
div#contenido_1 h2{
    width: 50%;
    margin: 0px;
    margin-left: 10%;
    margin-top: 1%;
    color: white;
    font-size:300%;
    text-align:left;
    line-height: 130%;
}
a#boton{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 5%;
    width: 15%;
    margin-left: 40%;
    background-color: #D38108;
    text-align: center;
    line-height: normal;
}
a#boton:hover{
    background-color: orange;
}
a#boton:active{
    background-color: white;
}
/*----Contenido parte 2----*/
div#contenido_2{
    float: inline-start;
    
    margin-top: 3%;
    width: 100%;
}
div#contenido_2 h2{
margin-top: 0px;
text-align: center;
}
div#contenido_2 div#parteizquierda{
    width: 30%;
    margin-left: 10%;
    text-align: center;
}
div#contenido_2 div#partederecha{
    width: 30%;
    float: right;
    margin-top: -36.3%;
    margin-right:10% ;
    text-align: center;
}
div#parteizquierda img,div#partederecha img{
    width: 300px;
    height: 150px;
}
div#parteizquierda h3,div#partederecha h3{
    border-bottom: solid;
    border-bottom-color:#044E7F ;
}
/*----Pie de Página---*/
div.piePagina{

    float: inline-end;
    width:  100%;
    height: auto;
    background-image: url("../resorces/images/fondo3_texto1.jpg");
    margin-top: 2%;
    color: white;
}
div.piePagina h4{
    width: 20%;
    margin-bottom:-2%;
    margin-left: 10%;
}
div.piePagina a{
    float: right;
    margin-bottom: 3%;
    margin-right: 10%;
    color: white;
    text-decoration: none;
}
